* {
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
}

/* Start Header */

.header {
    width: calc(100vw - 20px);
    height: 60px;
    background-color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header span {
    font-size: 55px;
}

.header h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 34px;
    margin: 0 50px 0 0;
}

.header ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    background-color: gray;
    width: 150px;
    right: 17px;
    top: 40px;
}

.header ul li {
    display: flex;
    height: 30px;
    align-items: center;
    margin-left: 5px;
}

/* End Header */

.days,
.hours,
.minutes,
.seconds {
    width: 130px;
    height: 100px;
    background-color: #6b6b6b;
    margin: 10px;
    text-align: center;
    font-size: 80px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 0;
}

h3 {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
}

.timer {
    display: flex;
}

#birthday {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 45px;
}

@media (max-width:600px) {
    .header {
        height: 40px;
    }

    .header span {
        font-size: 35px;
    }

    .header h2 {
        font-size: 25px;
    }

    .header ul {
        top: 20px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        width: 70px;
        height: 50px;
        margin: 10px;
        font-size: 40px;
    }
}